# Exclude specific config files
trading/day_trading_technical.py
image_generation/image_generation_Flux1_v2.ipynb
image_generation/.env

# Exclude specific images in docs

# Fichiers Python
*.pyc
__pycache__/

# Environnements virtuels
venv/
*.env/

# Fichiers spécifiques à l'IDE
.vscode/
.idea/

# Sorties de notebooks Jupyter
*.ipynb_checkpoints